*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: brown;
    display: grid;
    place-items: center;
   
    .container{
        margin-top: 5rem;
        
        display: grid;
  border: 14px solid red;
        grid-template-columns: repeat(8, 1fr);
    
       
       
        div{
       
         
            padding: 30px;
        }
     .odd{
            background-color: #fff;
        }
        .even{
            background-color: #000;
        }
        
    }
}